.profile {
  display: flex;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-right: 60px;
}
.button {
  display: inline-block;
  text-align: left;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-inactive-color);
  transition: var(--common-transition);
  text-decoration: none;
  padding: 17px 0;
}
.button:hover,
.button.active {
  color: var(--text-primary-color);
}
.button.active {
  cursor: default;
}