.button svg path {
  fill: currentColor;
}
.button {
  background: transparent;
  border: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
  transition: var(--common-transition);
  cursor: pointer;
  color: var(--text-inactive-color);
  text-decoration: none;
}
.button:hover {
  color: var(--text-primary-color);
  background: var(--background-element);
}
.button.active {
  color: var(--text-primary-color);
  cursor: default;
  background: transparent;
}
.icon {
  width: 24px;
  height: 24px;
}
.disabled {
  opacity: 0.4;
  pointer-events: none;
}
